<?xml version="1.0" encoding="utf-8"?><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pl" lang="pl">
<head>
	<title>egzamin</title>
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
   	<meta http-equiv="Content-Style-Type" content="text/css" />
    {% load staticfiles %}
	<link rel="Stylesheet" type="text/css" href='{% static "style.css" %}' />
</head>
<body>
	<center>

	<div id="MENU">
		<div id="ELEMENTY_MENU">
			<b>
			    <a class="link" href="{% url 'index' %}">Wpisy</a>
                <a class="link" href="{% url 'canvasLogin' %}">Ustaw canvas</a>
                <a class="link" href="{% url 'dwnlZip' przedmiot %}">Pobierz oceny</a>

            </b>
		</div>
	</div>
	<div id="TRESC">
        Pozostaly czas sesji: {{ czas }} <a href="{% url 'lengthenSession' %}">Przedłuż sesje</a>
		<div id="TRESC_GLOWNA">	
			<!--<div class="wpis">
				<div class="wpis_tresc">SELECT * FROM Aktualnosci</div>
				<div class="wpis_autor">Dodane przez: Patryk 2014-01-20 17:28:32</div>
			</div>-->
            {% for zadanie in wszystkie_wpisy %}
                <div class="wpis">
                    <div class="wpis_tresc">
                        {{ zadanie.0 }},{{ zadanie.1 }},{{ zadanie.2 }},{{ zadanie.3 }}
                    </div>
                </div>
            {% endfor %}
		</div>
	</div>
	</center>
</body>
</html>
